# Libraries
*.o
*.a
*.db

# Emacs
*~
\#*#
.#*

# Executables
build
*.out
unit_tests
*.app
*.i*86
*.exe
*.x86_64
*.hex
strace.*

# Test Unitaire
*.gc*
*.h.gch
mainee.c*

# VALGRING
vgcore.*

# VSCODE
*.vscode
.vs


#python
__pycache__/